In [1]:
import pandas as pd
import numpy as np

In [11]:
amenity_df = pd.read_csv('data/amenity.csv')[['tumbol_ID', 'amenity']]
amenity_df.amenity = amenity_df.amenity.astype('category')
amenity_df['amenity_type'] = amenity_df.amenity.cat.codes
amenity_df

      tumbol_ID     amenity  amenity_type
0      500513.0  baby_hatch             0
1      461102.0      clinic             1
2      401612.0      clinic             1
3      361402.0      clinic             1
4      710105.0      clinic             1
...         ...         ...           ...
3201   500106.0  veterinary             7
3202   830106.0  veterinary             7
3203   102705.0  veterinary             7
3204   830201.0  veterinary             7
3205   103802.0  veterinary             7

[3206 rows x 3 columns]

In [4]:
amenity2code = dict(enumerate(amenity_df.amenity.cat.categories))
amenity2code

{0: 'baby_hatch',
 1: 'clinic',
 2: 'dentist',
 3: 'doctors',
 4: 'hospital',
 5: 'nursing_home',
 6: 'social_facility',
 7: 'veterinary'}

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
amenity_code = ohe.fit_transform(amenity_df.amenity_type.values.reshape(-1,1))
amenity_code = pd.DataFrame(amenity_code.toarray())
amenity_code.columns = list(amenity2code.values())
# amenity_code.columns = [
#     'region_BKK',
#     'region_Central',
#     'region_West',
#     'region_East',
#     'region_North_East',
#     'region_North',
#     'region_South']
amenity_code